[Unit]
Description=Update alpine toolbox

[Service]
Type=simple
ExecStart=/usr/bin/podman pull ghcr.io/ublue-os/boxkit:latest -q

[Install]
WantedBy=default.target
